

        <main>

            <!-- In case of error, display the following div-->
            <!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->

            <!-- Closed Auctions Page -->
            <section id="catalog-section" class="spaced">

                <h1 class="item">Closed Auctions</h1>

                <!-- List of closed auctions for the current user -->
                {{#if filteredByClosed}}
                <ul class="catalog cards">
                    {{#each filteredByClosed}}
                    <li class="item">
                        <header class="pad-med">
                            <h2>{{this.title}}</h2>
                        </header>

                        <div class="align-center">

                            <img class="img-thumb" src="{{this.imageUrl}}">

                        </div>

                        <footer class="align-center pad-med">
                            <p>Closing price: <strong>${{this.price}}</strong></p>
                            from {{this.authorName}}
                        </footer>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <!-- If the current user doesn't have closed auctions -->
                <div class="item pad-large align-center">
                    <p>You haven't closed any auctions yet.</p>
                </div>
                {{/if}}
            </section>

        </main>
